<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table width="600" cellspacing="0" cellpadding="0" align="center">
    <tbody class="ui-droppable">
    <tr class="ui-draggable" style="height: 221px">
        <td style="height: 221px;" align="center" valign="top" width="560">
            <table style="background-position: left top" width="100%" cellspacing="0" cellpadding="0">
                <tbody class="ui-droppable">
                <tr class="ui-draggable">
                    <td contenteditable="false" align="center">
                        <br>
                        <h1 style="color: #333333; font-size: 20px;"><strong>!!ERROR!!</strong></h1>
                    </td>
                </tr>
                <tr class="ui-draggable">

                    <td align="center">

                        <p style="color: #333333;">A 404 error occurered.</p>

                        <p style="color: #333333;">This indicates that our server couldnt find what you are looking for.</p>

                        <br>

                    </td>
                </tr>
                <tr class="ui-draggable">
                    <td align="center">
                        <p style="color: #333333;" th:text="${token}"></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>